@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

html {
  scroll-behavior: smooth;
}

#root {
  font-family: Futura;
  background-image: url('https://thumbs.dreamstime.com/b/vector-fast-food-pattern-vector-fast-food-pattern-fast-food-seamless-background-113560536.jpg');
  min-height: 100vh;
}

.card img {
  height: 300px;
  object-fit: cover;
}

.navbar-brand {
  font-family: 'Creepster', cursive;
  font-size: 50px !important;
}